.btn {
    cursor: pointer;
    height: 2.8125rem;
    padding: 0 2rem;
    border: .125rem solid #fff;
    background: unset;
    color: var(--color-primary);
    border-radius: 10rem;
    font-weight: 700;
    transition: 0.5s all ease;
}

.btn:hover,
.btn--institutional {
    border-color: var(--color-primary);
    background: var(--color-primary);
    color: #fff;
}

.btn--institutional:hover {
    border-color: var(--color--copy);
    background: unset;
    color: var(--color--copy);
    box-shadow: 0 1rem 1rem #0006;
}

.quote__btn {
    color: #000;
    border-color: #000;
}

.quote__btn:hover {
    box-shadow: 0 1rem 1rem #0006;
}

