.footer {
    background-color: #000;
    color: #fff;

}

/* Mobile */
.footer__container {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

/* Desktop */
@media screen and (min-width:1280px) {
    .footer__container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: unset;
        align-items: center;
        padding: 4rem 0;
    }
}

/* Mobile */
.footer__container h3 {
    justify-self: center;
}

@media screen and (min-width:1280px) {
    .footer__container h3 {
        justify-self: start;
    }
}

/* mobile */
.footer__form {
    justify-self: center;
    display: grid;
    align-items: center;
}

/* desktop */
@media screen and (min-width:1280px) {
    .footer__form {
        justify-self: center;
        display: grid;
        align-items: center;
        grid-template-columns: 6.875rem 16.5625rem 6.25rem;
    }
}

/* mobile */
.footer__form label {
    font-weight: 300;
    font-size: .875rem;
    text-align: center;
    margin-right: 1.125rem;
    padding-bottom: 1rem;
}

/* desktop */
@media screen and (min-width:1280px) {
    .footer__form label {
        font-weight: 300;
        font-size: .875rem;
        text-align: center;
        margin-right: 1.125rem;
    }
}

.footer__form label span {
    display: block;
}

.footer__email {
    display: grid;
    grid-template-columns: auto 3.3125rem;
}

/* mobile */
.footer__email input {
    font-weight: 700;
    text-transform: uppercase;
    height: 2.5rem;
    background-color: var(--color-primary);
    border: unset;
    padding: 0 1rem;
}

/* desktop */
@media screen and (min-width:1280px) {
    .footer__email input {
        font-weight: 700;
        text-transform: uppercase;
        height: 3rem;
        background-color: var(--color-primary);
        border: unset;
        padding: 0 1rem;
    }
} 

.footer__email input:focus {
    outline: unset;
}

.footer__email input::placeholder {
    color: #000;
}

.footer__email button {
    border: unset;
    width: 3.375rem;
    transition: 0.3s all ease;
}

.footer__email button:hover {
    color: #fff;
    background-color: var(--color--copy);
    box-shadow: 0 0 1rem #fff6;
}

/* mobile */
.footer__social {
    justify-self: center;
    padding-bottom: 1rem;
}

/* desktop */
@media screen and (min-width:1280px) {
.footer__social {
    justify-self: end;
}
}

.footer__social a {
    color: #fff;
}

.footer__social a .fa-twitter {
    color: #000;
}

.line {
    border-color: #fff4;
}

.final {
    font-weight: 300;
    text-align: center;
    margin: 2.5rem 0;
}

.final span {
    text-transform: uppercase;
    color: var(--color-primary);
}