
@import "./_varibles.css";

.navbar {
    position: absolute;
    z-index: 1; /*faz com que o navbar se sobreponha sobre o .slide que tem posiçao relativa*/
    top: 0%; /*fixar a navbar no topo da pagina independente do body */
   /* background-color: #000;*/
    color: #fff;
    height: 7.75rem;
    width: 100%;
}

.container__navbar{
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 1.5rem 0;
    padding-left: 1rem;
    align-items: center; /* alinhar o h1 e a ul de maneira horizontal para que fiquem na mesma linha no navbar */
}

.container__navbar a {
    text-decoration: none;
}

/* Mobile */
.navbar__links {
    display: none;
}

/* Desktop */
@media screen and (min-width:1280px) {
    .navbar__links {
        display: flex;
        justify-self: end;
    }
}

.navbar__links.active {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 101vh;
    background: #000e;
    place-items: center;
    

}

/* Mobile */
.navbar__links li{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
    align-items: center;
}

/* Desktop */
@media screen and (min-width:1280px) {
    .navbar__links li {
        font-weight: 300;
        text-transform: uppercase;
        font-size: .875rem;
        align-items: center;
        margin-right: 3rem;
    }
}

/* Mobile */
.navbar__links a{
    text-decoration: none;
    color: #fff9;
}

/* Desktop */
@media screen and (min-width:1280px) {
    .navbar__links a {
        text-decoration: none;
        color: #fff;
    }
}

/* Mobile */
.navbar__links.active a.active {
    color: var(--color-primary);
}

/* Desktop */
@media screen and (min-width:1280px) {
    .navbar__links a.active {
        color: var(--color-primary);
    }
}

.navbar__links a:hover{
    color: var(--color-primary);
}

/* Mobile */
.navbar__menu-btn {
    cursor: pointer;

    z-index: 10;
    
    color: #fff;
    font-size: 2rem;
    background: unset;
    border: unset;
    
    justify-self: end;
    padding-right: 2rem;
}

/* Desktop */
@media screen and (min-width:1280px) {
    .navbar__menu-btn {
        display:none;
    }
}

