
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 0 3rem;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 10vh;
    
}

.navbar__links {
    display: flex;
    justify-self: end;
    list-style: none;
}

.navbar__links li{
    align-items: center;
    margin-right: 1rem;
    ;
}

.navbar__links a{
    text-decoration: none;
    color: #fff;
}