
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
    cursor: default;
   /*resetar os estilos prévios do html*/
   margin: 0;
   padding:0;
   box-sizing: border-box;
   --color--copy: #333333;
   --color-primary: #ffc500;
   --main-padding: 1rem;
    /* add uma nova fonte para o site inteiro*/
    font-family: 'Montserrat', sans-serif;
}

body{
    padding-top: 7.75rem;
}

header, 
main, 
footer {
    overflow-x: hidden;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style: none;
}

/* estilizando a nav do site */

.navbar {
    position: fixed;
    z-index: 1; /*faz com que o navbar se sobreponha sobre o .slide que tem posiçao relativa*/
    top: 0%; /*fixar a navbar no topo da pagina independente do body */
    background-color: #000;
    color: #fff;
    height: 7.75rem;
    width: 100%;
}

.container__navbar{
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 1.5rem 3rem;
    padding-left: 1rem;
    align-items: center; /* alinhar o h1 e a ul de maneira horizontal para que fiquem na mesma linha no navbar */
}

.navbar__links {
    justify-self: end;
}

.navbar__links li{
    font-weight: 300;
    text-transform: uppercase;
    font-size: .875rem;
    align-items: center;
    margin-right: 3rem;
    ;
}

.navbar__links a{
    text-decoration: none;
    color: #fff;
}

.navbar__links a:hover{
    color: var(--color-primary);
}

.logo{
    font-weight: 900;
    font-size: 2.375rem;
    text-transform: uppercase;
    color: #fff;
}

.logo__color{
    color: var(--color-primary);
}

.logo__subtitle{
    font-weight: 300;
    font-size: .875rem;
    line-height: 10px;
    text-align: end;
    display: block;
}

/* estilizando a div slider*/

#slider{
    color: #fff; 
    background-color: #000;
}

.slide{
    position: relative; /* sendo o class pai, prende o .slide__copy dentro de .slide que agora tem posição absoluta*/
    height: calc(90vh - 7.75rem);
}

.slide__background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy{
    position: absolute; 
    left: 50%;
    top: 6.25rem;
}

.slide__copy h6{
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;
}

.slide__copy h2{
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.slide__copy h2 span{
    display: block; /* quebrar linha*/
}

.btn{
    cursor: pointer;
    height: 2.8125rem;
    padding: 0 2rem;
    border: .125rem solid #fff;
    background: unset;
    color: var(--color-primary);
    border-radius: 10rem;
    font-weight: 700;
    transition: 0.5s all ease;
}

.btn:hover,
.btn--institutional{
    border-color: var(--color-primary);
    background: var(--color-primary);
    color: #fff;
    box-shadow: 0 1rem 1rem #fff6;
}

#counter {
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
    padding: 4.375rem 1rem;
}

.counter__container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    margin: 0 auto;
}

.counter__container h3{
    font-size: 2.1875rem;
    font-weight: 700;
}

.counter__container h3 small{
    display: block;
    font-size: 1.25rem;
}

.institutional{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 2.8125rem;
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
    color: var(--color--copy);
}

.institutional__copy{
    padding-right: 1.5rem;
}

.institutional__copy h6{
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}


.institutional__copy h4{
    font-size: 1.5625rem;
    font-weight: 700;
    margin-bottom: 3.125rem;
}

.institutional__copy p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    margin-bottom: 2.5rem;
}

.btn--institutional:hover{
    border-color: var(--color--copy);
    background: unset;
    color: var(--color--copy);
    box-shadow: 0 1rem 1rem #0006;
}

.quote{
    background-image: url(./images/parallax.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.quote__container{
    display: grid;
    align-items: center;
    justify-items: end;
    min-height: 80vh;
    
}

.quote__copy{
    background-color: #fff;
    width: 38.125rem;
    height: 29.0625rem;
    padding: 5.125rem;
}

.quote__copy p{
    font-weight: 400;
    font-size: 0.9375rem;
    text-transform: uppercase;
    margin-bottom:2.25rem;
}

.quote__copy h3{
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quote__copy small{
    display: block;
}

.quote__btn{
    color: #000;
    border-color: #000;
}

.quote__btn:hover {
    box-shadow: 0 1rem 1rem #0006;
}

.footer {
    background-color: #000;
    color: #fff;
   
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 4rem 0;
}

.footer__container h3 {
    justify-self: start;
}

.footer__form {
    justify-self: center;

    display: grid;
    align-items: center;
    grid-template-columns: 6.875rem 16.5625rem 6.25rem;
}

.footer__form label {
    font-weight: 300;
    font-size: .875rem;
    text-align: center;
    margin-right: 1.125rem ;
}

.footer__form label span {
    display: block;
}

.footer__email {
    display: grid;
    grid-template-columns: auto 3.3125rem;
}

.footer__email input {
    font-weight: 700;
    text-transform: uppercase;
    height: 3rem ;
    background-color: var(--color-primary);
    border: unset;
    padding: 0 1rem ;
}

.footer__email input::placeholder {
    color: #000;
}

.footer__email button {
    border: unset;
    width: 3.375rem;
    transition: 0.3s all ease;
}

.footer__email button:hover {
    color: #fff;
    background-color: var(--color--copy);
    box-shadow: 0 0 1rem #fff6;
}

.footer__social {
    justify-self: end;
}

.footer__social a {
    color:#fff;
}

.footer__social a .fa-twitter {
    color: #000;
}

.line {
    border-color: #fff4;
}

.final {
    font-weight: 300;
    text-align: center;
    margin: 2.5rem 0;
}

.final span {
    text-transform: uppercase;
    color: var(--color-primary);
}
